<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
		
		<section layout:fragment="contents" class="contents d-flex justify-content-center">
			<div th:each="card:${cardList}" class="input-box my-5 p-4 border border-1 rounded-lg">
				<div class="d-flex justify-content-between py-2">
					<div class="d-flex">
						<img width="40px" height="40px" class="rounded-circle" src="https://cdn.pixabay.com/photo/2024/03/03/20/44/cat-8611246_1280.jpg">
						<div class="d-flex align-items-center ml-2">instalogram_id</div>
					</div>
					
					<div class="d-flex align-items-center">
						<i class="bi bi-list" style="font-size: 1.3rem;"></i>
					</div>
				</div>
				
				<div>
					<img width="100%" th:src="${card.imagePath}">
					
					<div class="text-center">
						<i class="bi bi-three-dots"></i>
					</div>
				</div>
				
				<div class="d-flex justify-content-between">
					<i class="bi bi-heart like-btn" style="font-size: 1.2rem;" th:data-post-id="${card.postId}"></i>
					
					<i class="bi bi-bookmark" style="font-size: 1.2rem;"></i>
				</div>
				
				<div class="mt-1">
					<div class="d-flex">
						<div th:text="${card.LoginId}">instalogram_id</div>
						
						<div th:text="${card.contents}">게시글 내용</div>
					</div>
										
					<div class="small">2024년 12월 25일</div>
				</div>
				
				<div class="d-flex justify-content-between mt-2">
					<div>댓글 달기</div>
					
					<input type="text" class="form-control form-control-sm col-10" th:id="|commentInput${card.postId}|" placeholder="댓글 작성">
					
					<button type="button" class="btn btn-outline-secondary col-2 btn-sm comment-btn" th:data-post-id="${card.postId}">보내기</button>
				</div>
				
				<hr>
				
				<div class="d-flex justify-content-between" style="font-size: 1.3rem;">
					<i class="bi bi-house-door"></i>
					<i class="bi bi-search"></i>
					<i class="bi bi-journal-plus"></i>
					<i class="bi bi-bell"></i>
					<i class="bi bi-person"></i>
				</div>
			</div>
		</section>
		
		<script layout:fragment="script">
		$(document).ready(function() {
			$("#uploadBtn").on("click", function() {

				let contents = $("#contentsInput").val();
				
				let file = $("#fileInput")[0].files[0];
				
				if(contents == "") {
					alert("내용을 입력하세요");
					return;
				}
				
				let formData = new Formdata();
				
				formData.append("contents", contents);
				formData.append("imageFile", file);
				
				$.ajax({
					type:"post"
					, url:"/post/create"
					, data:formData
					, enctype:"multipart/form-data"
					, processData:false
					, contentType:false
					, success:function(response) {
						if(response.result == "success") {
							location.href="/post/timeline-view";
						} else {
							alert("게시 실패!");
						}
					}
					, error:function() {
						alert("게시 에러!");
					}
				});
			});
			
			$(".like-btn").on("click", function() {
				
				// 이벤트가 발생한 태그 객체
				let postId = $(this).data("post-id");
			
	
				$.ajax({
					type:"post"
					, url:"/post/like"
					, data:{"postId": postId}
					, success:function(response) {
						if(response.result == "success") {
							location.reload;
						} else {
							alert("좋아요 실패!");
						}
					}
					, error:function() {
						alert("좋아요 에러!");
					}
				});
			});
			
			$(".comment-btn").on("click", function() {
				
				let postId = $(this).data("post-id");
				
				let comment = $("#commentInput" + postId).val();				
				
				$.ajax({
					type:"post"
					, url:"/post/comment/create"
					, data:{"postId": postId, "comments":content}
					, success:function(response) {
						if(response.result == "success") {
							location.reload;
						} else {
							alert("댓글 작성 실패!");
						}
					}
					, error:function() {
						alert("댓글 작성 에러!");
					}
				});
				
			});
		});
		</script>
</html>