<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
		
		<section layout:fragment="contents" class="contents d-flex justify-content-center">
		
			<!-- 전체 레이아웃 -->
			<div class="main-contents">
			
				<!-- 카드 -->
				<div th:each="card:${cardList}" class="input-box my-5 p-4 border border-1 rounded-lg">
				
					<!-- 프로필 사진, 아이디, 게시글 메뉴 버튼 -->
					<div class="d-flex justify-content-between py-2">
						<div class="d-flex">
							<!-- 프로필 사진 -->
							<img width="40px" height="40px" class="rounded-circle" src="https://cdn.pixabay.com/photo/2024/03/03/20/44/cat-8611246_1280.jpg">
							<!-- 아이디 -->
							<div class="d-flex align-items-center ml-2" th:text="${card.loginId}">instalogram_id</div>
						</div>
						
						<!-- 게시글 메뉴 버튼 -->
						<div class="d-flex align-items-center">
							<i th:if="${card.userId == session.userId}" class="bi bi-list menu-btn" th:data-post-id="${card.postId}" data-toggle="modal" data-target="#moreModal" style="font-size: 1.3rem;"></i>
							
							<!-- Modal -->
							<div class="modal fade" id="moreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							  <div class="modal-dialog modal-dialog-centered" role="document">
							    <div class="modal-content">
							      <div class="modal-body text-center">
							        <a href="#" id="deleteBtn">삭제하기</a>
							      </div>
							    </div>
							  </div>
							</div>
						</div>
					</div>
					
					<!-- 올린 사진들 -->
					<div>
						<img width="100%" th:src="${card.imagePath}">
						
						<div class="text-center">
							<i class="bi bi-three-dots"></i>
						</div>
					</div>
					
					<!-- 좋아요, 북마크 버튼 -->
					<div class="d-flex justify-content-between">
						<div class="d-flex">
							<i th:unless="${card.isLike}" class="bi bi-heart text-secondary like-btn" th:data-post-id="${card.postId}" style="font-size: 1.2rem;"></i>
							<i th:if="${card.isLike}" class="bi bi-heart-fill text-danger unlike-btn" th:data-post-id="${card.postId}" style="font-size: 1.2rem;"></i>
							<div th:text="|${card.likeCount}|" class="ml-2">100</div>
						</div>
						
						<i class="bi bi-bookmark" style="font-size: 1.2rem;"></i>
					</div>
					
					<!-- 아이디, 글 내용, 올린 날짜 -->
					<div class="mt-1">
						<div class="d-flex">
							<div th:text="${card.loginId}">instalogram_id</div>
							
							<div th:text="${card.contents}">게시글 내용</div>
						</div>
											
						<div class="small">2024년 12월 25일</div>
					</div>
					
					<!-- 댓글 목록 -->
					<div th:each="comment:${card.commentList}" class="d-flex">
	 					<div th:text="${comment.loginId}">comment_id</div>
	 					
						<div th:text="${comment.contents}">댓글 내용</div>
					</div>
					
					<!-- 댓글 작성하는 곳 -->
					<div>
						<div>댓글 달기</div>
						
						<div class="d-flex justify-content-between mt-2">
							<input type="text" class="form-control form-control-sm col-10" th:id="|commentInput${card.postId}|" placeholder="댓글 작성">
							
							<button type="button" class="btn btn-outline-secondary col-2 btn-sm comment-btn" th:data-post-id="${card.postId}">보내기</button>
						</div>
					</div>
					
					<hr>
					
					<!-- 하단 메뉴바 -->
					<div class="d-flex justify-content-between" style="font-size: 1.3rem;">
						<i class="bi bi-house-door"></i>
						<i class="bi bi-search"></i>
						<i class="bi bi-journal-plus"></i>
						<i class="bi bi-bell"></i>
						<i class="bi bi-person"></i>
					</div>
				</div>
			</div>
		</section>

		<script layout:fragment="script">
		
			$(document).ready(function() {
				
				$(".like-btn").on("click", function() {
					
					// 이벤트가 발생한 태그 객체
					let postId = $(this).data("post-id");
				
		
					$.ajax({
						type:"post"
						, url:"/post/like"
						, data:{"postId": postId}
						, success:function(response) {
							if(response.result == "success") {
								location.reload();
							} else {
								alert("좋아요 실패!");
							}
						}
						, error:function() {
							alert("좋아요 에러!");
						}
					});
				});
				
				$(".unlike-btn").on("click", function() {
					
					let postId = $(this).data("post-id");
					
					$.ajax({
						type:"delete"
						, url:"/post/unlike"
						, data:{"postId": postId}
						, success:function(response) {
							if(response.result == "success") {
								location.reload();
							} else {
								alert("좋아요 취소 실패!");
							}
						}
						, error:function() {
							alert("좋아요 취소 에러!");
						}
					});
				});
				
				$(".comment-btn").on("click", function() {
					
					let postId = $(this).data("post-id");
					
					let comment = $("#commentInput" + postId).val();				
					
					$.ajax({
						type:"post"
						, url:"/post/comment/create"
						, data:{"postId": postId, "comments":content}
						, success:function(response) {
							if(response.result == "success") {
								location.reload();
							} else {
								alert("댓글 작성 실패!");
							}
						}
						, error:function() {
							alert("댓글 작성 에러!");
						}
					});
				});
				
				$(".menu-btn").on("click", function() {
					
					let postId = $(this).data("post-id");
					
					// modal의 삭제 버큰인 a 태그에 data-post-id 값을 추가한다.
					$("#deleteBtn").data("post-id", postId);
					
				});
				
				$("#deleteBtn").on("click", function() {
					
					let postId = $(this).data("post-id");
					
					$.ajax({
						type:"delete"
						, url:"/post/delete"
						, data:{"id":postId}
						, success:function(response) {
							if(response.result == "success") {
								location.reload();
							} else {
								alert("게시글 삭제 실패!");
							}
						}
						, error:function() {
							alert("게시글 삭제 에러!");
						}
					});
				});
			});
		</script>
</html>