@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: 0 auto;
}

header {
	height: 100px;
	background-color:#cccccc;
}

.main-contents {
    width:400px;
}

.contents > .input-box {
	width: 400px;
}

footer {
	height: 70px;
	background-color: #cccccc;
}